.titulo {
  text-align: center;
  color: #50473e;
  margin-bottom: 30px;
  text-shadow: 0.5px 1px 0.5px black;
}

.linhaPanel {
  margin-bottom: 20px;
}

.checkbox-inline {
  margin-left: 25px;
  padding-left: 25px;
}

#horaIda {
  width: 80%;
  text-align: right;
}

.botao {
  text-align: center;
  margin-top: 50px;
}

.tamFixo {
  width: 120px;
  margin-left: 5px;
}
