.img-perfil {
  max-width: 20%;
  margin: auto;
}

.profile-button {
  font-size: 11px;
  padding: 8px;
}

.botao-perfil {
  margin: 5px auto;
  text-align: center;
}

.titulo {
  text-align: center;
  color: #50473e;
  margin-bottom: 30px;
  text-shadow: 0.5px 1px 0.5px black;
}

.profile-button2 {
 font-size: 14px;
 padding: 8px;
}

table.fixa {
    display: table;
    width: 100%;
}
table.fixa thead, table.fixa tbody {
    float: left;
    width: 100%;
}
table.fixa tbody {
    overflow: auto;
    height: 150px;
}
table.fixa tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.fixa th, table.fixa td {
    width: 30%;
}
