html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: auto;
  padding-bottom: auto;
  background-color: #adabab;
}

.container {
  margin-top: auto;
  margin-bottom: auto;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: #fff;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom-login {
  background-color: #50473e;
  border: 1px solid #605c57;
}

.custom-login:hover {
  background-color: #a48769;
  border: 1px solid #605c57;
}

.titulo {
  text-align: center;
  color: #50473e;
  margin-bottom: 30px;
  text-shadow: 0.5px 1px 0.5px black;
}

.signup {
  text-align: center;
}

.signup a {
  color: #50473e;
  text-decoration: underline;
}

.signup a:hover {
  color: #fff;
}

.clear {
  clear: both;
}

.custom-button {
  background-color: #50473e;
  border: 1px solid #605c57;
}

.custom-button:hover {
  background-color: #a48769;
  border: 1px solid #605c57;
}

.botao-cadastro {
  margin: 5px auto;
  text-align: center;
}
